.Control{
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.SubmitControl{
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.Control button{
    background-color: lightgrey;
    color: black;
    
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 90px;
    border: 1px solid grey;
    cursor: pointer;
    box-shadow: 5px 10px 18px darkgrey;
    outline: none;
}

.SubmitControl button{
    background-color: lightgrey;
    color: black;
    
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 90px;
    border: 1px solid grey;
    cursor: pointer;
    box-shadow: 5px 10px 18px darkgrey;
    outline: none;
}

.Label {
    text-align: center;
    font-size: 12px;
}

.Control .Board{
    background-color: lightgrey;
    color: black;
}

.Control button:hover {
    background-color: darkgrey;
}